@import 'src/scss/base';

.wrapper-form-request {
    min-width: 360px;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    border: 1px solid $color-gray-500;
    .wrapper-form-request-body {
        flex: 1;
        .wrapper-search {
            padding-top: 8px;
            padding-bottom: 8px;
            height: 100%;
            display: flex;
            flex-direction: column;
            .title {
                padding: 0 16px;
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 4px;
                font-weight: 500;
                color: $text-color-bold;
            }
            .add-form {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                border: 1px solid $color-gray-500;
                border-radius: 999px;
                margin-bottom: 8px;
                overflow: hidden;

                .btn-search {
                    padding: 6px 0 6px 12px;
                    background-color: transparent;
                }
                .input {
                    flex: 1;
                    padding: 8px 40px 8px 8px;
                }

                .btn-clear {
                    position: absolute;
                    right: 8px;
                    width: 24px;
                    height: 24px;
                    border-radius: 2px;
                    background-color: transparent;
                    border-radius: 50%;
                    background-color: $color-gray-400;
                    color: $white-color;
                    cursor: pointer;
                    &:hover {
                        border-radius: 50%;
                        background-color: $color-primary;
                        color: $white-color;
                    }
                }

                &:focus-within {
                    border: 1px solid $color-blue;
                    .btn-search {
                        color: $color-blue;
                    }
                }
            }
            .result-list {
                flex: 1;
                max-height: 346px;
                padding: 0;
                margin-bottom: 12px;
                overflow: overlay;
            }
        }
    }
}
