@import 'src/scss/base';

//form group
.form-group {
    width: 100%;
    padding: 0 16px;
    &.borderBottom {
        border-bottom: 1px solid $color-gray-600;
    }
    &.borderTop {
        border-top: 1px solid $color-gray-600;
    }
}

//header
.header {
    width: 100%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-size: 22px;
        line-height: 1;
        color: $text-color-bold;
        font-weight: 500;
    }

    .btn-close {
        width: 32px;
        height: 32px;
        background-color: transparent;
        cursor: pointer;
        border-radius: 4px;
        background-color: transparent;
        &:hover {
            background-color: $color-danger;
            color: $white-color;
        }
    }
}
//Search

//bottom
.wrapper-bottom {
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 38px;
        color: $text-color-bold;
        border-radius: 4px;
        padding: 0 16px;
        cursor: pointer;

        &.cancel {
            background-color: $color-gray-400;
            margin-right: 16px;
        }

        &.create {
            background-color: $color-secondary;
            color: $white-color;
        }
    }
}

//item user
.wrapper-item {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    &:hover {
        background-color: $color-gray-200;
    }

    .avatar {
        width: 40px;
        height: 40px;
        margin-right: 4px;
    }
    .user-name {
        flex: 1;
        font-size: 18px;
        padding-right: 12px;
        color: $text-color-bold;
        @include textOverFlow(1);
    }
    .btn-request {
        padding: 8px;
        border-radius: 4px;
        color: $color-secondary;
        background-color: transparent;
        cursor: pointer;
        &:hover {
            background-color: $color-success;
            color: $white-color;
        }
    }
}
