@import 'src/scss/base';

.wrapper {
    .filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 4px;
        padding: 0 16px;
        border-bottom: 1px solid $color-gray-500;
        .filter-item {
            position: relative;
            padding: 4px;
            font-size: 16px;
            cursor: pointer;
            &.active {
                color: $color-secondary;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: $color-blue;
                }
            }
        }
    }
}
