@import 'src/scss/base';

.wrapper {
    display: block;
    padding-left: $padding-colum-12;
    padding-right: $padding-colum-12;
    &.no-gutter {
        padding: 0;
    }
    &.l-0 {
        display: none;
    }
    &.l-1 {
        flex: 0 0 calc(100% / 24);
        width: calc(100% / 24);
    }
    &.l-2 {
        flex: 0 0 calc(100% * 2 / 24);
        width: calc(100% * 2 / 24);
    }
    &.l-3 {
        flex: 0 0 calc(100% * 3 / 24);
        width: calc(100% * 3 / 24);
    }
    &.l-4 {
        flex: 0 0 calc(100% * 4 / 24);
        width: calc(100% * 4 / 24);
    }
    &.l-5 {
        flex: 0 0 calc(100% * 5 / 24);
        width: calc(100% * 5 / 24);
    }
    &.l-6 {
        flex: 0 0 calc(100% * 6 / 24);
        width: calc(100% * 6 / 24);
    }
    &.l-7 {
        flex: 0 0 calc(100% * 7 / 24);
        width: calc(100% * 7 / 24);
    }
    &.l-8 {
        flex: 0 0 calc(100% * 8 / 24);
        width: calc(100% * 8 / 24);
    }
    &.l-9 {
        flex: 0 0 calc(100% * 9 / 24);
        width: calc(100% * 9 / 24);
    }
    &.l-10 {
        flex: 0 0 calc(100% * 10 / 24);
        width: calc(100% * 10 / 24);
    }
    &.l-11 {
        flex: 0 0 calc(100% * 11 / 24);
        width: calc(100% * 11 / 24);
    }
    &.l-12 {
        flex: 0 0 calc(100% * 12 / 24);
        width: calc(100% * 12 / 24);
    }
    &.l-13 {
        flex: 0 0 calc(100% * 13 / 24);
        width: calc(100% * 13 / 24);
    }
    &.l-14 {
        flex: 0 0 calc(100% * 14 / 24);
        width: calc(100% * 14 / 24);
    }
    &.l-15 {
        flex: 0 0 calc(100% * 15 / 24);
        width: calc(100% * 15 / 24);
    }
    &.l-16 {
        flex: 0 0 calc(100% * 16 / 24);
        width: calc(100% * 16 / 24);
    }
    &.l-17 {
        flex: 0 0 calc(100% * 17 / 24);
        width: calc(100% * 17 / 24);
    }
    &.l-18 {
        flex: 0 0 calc(100% * 18 / 24);
        width: calc(100% * 18 / 24);
    }
    &.l-19 {
        flex: 0 0 calc(100% * 19 / 24);
        width: calc(100% * 19 / 24);
    }
    &.l-20 {
        flex: 0 0 calc(100% * 20 / 24);
        width: calc(100% * 20 / 24);
    }
    &.l-21 {
        flex: 0 0 calc(100% * 21 / 24);
        width: calc(100% * 21 / 24);
    }
    &.l-22 {
        flex: 0 0 calc(100% * 22 / 24);
        width: calc(100% * 22 / 24);
    }
    &.l-23 {
        flex: 0 0 calc(100% * 23 / 24);
        width: calc(100% * 23 / 24);
    }
    &.l-24 {
        flex: 0 0 calc(100% * 24 / 24);
        width: calc(100% * 24 / 24);
    }
}

@include tablet {
    .wrapper {
        padding-left: $padding-colum-8;
        padding-right: $padding-colum-8;
        &.no-gutter {
            padding: 0;
        }
        &.m-0 {
            display: none;
        }
        &.m-1 {
            flex: 0 0 calc(100% / 24);
            width: calc(100% / 24);
        }
        &.m-2 {
            flex: 0 0 calc(100% * 2 / 24);
            width: calc(100% * 2 / 24);
        }
        &.m-3 {
            flex: 0 0 calc(100% * 3 / 24);
            width: calc(100% * 3 / 24);
        }
        &.m-4 {
            flex: 0 0 calc(100% * 4 / 24);
            width: calc(100% * 4 / 24);
        }
        &.m-5 {
            flex: 0 0 calc(100% * 5 / 24);
            width: calc(100% * 5 / 24);
        }
        &.m-6 {
            flex: 0 0 calc(100% * 6 / 24);
            width: calc(100% * 6 / 24);
        }
        &.m-7 {
            flex: 0 0 calc(100% * 7 / 24);
            width: calc(100% * 7 / 24);
        }
        &.m-8 {
            flex: 0 0 calc(100% * 8 / 24);
            width: calc(100% * 8 / 24);
        }
        &.m-9 {
            flex: 0 0 calc(100% * 9 / 24);
            width: calc(100% * 9 / 24);
        }
        &.m-10 {
            flex: 0 0 calc(100% * 10 / 24);
            width: calc(100% * 10 / 24);
        }
        &.m-11 {
            flex: 0 0 calc(100% * 11 / 24);
            width: calc(100% * 11 / 24);
        }
        &.m-12 {
            flex: 0 0 calc(100% * 12 / 24);
            width: calc(100% * 12 / 24);
        }
        &.m-13 {
            flex: 0 0 calc(100% * 13 / 24);
            width: calc(100% * 13 / 24);
        }
        &.m-14 {
            flex: 0 0 calc(100% * 14 / 24);
            width: calc(100% * 14 / 24);
        }
        &.m-15 {
            flex: 0 0 calc(100% * 15 / 24);
            width: calc(100% * 15 / 24);
        }
        &.m-16 {
            flex: 0 0 calc(100% * 16 / 24);
            width: calc(100% * 16 / 24);
        }
        &.m-17 {
            flex: 0 0 calc(100% * 17 / 24);
            width: calc(100% * 17 / 24);
        }
        &.m-18 {
            flex: 0 0 calc(100% * 18 / 24);
            width: calc(100% * 18 / 24);
        }
        &.m-19 {
            flex: 0 0 calc(100% * 19 / 24);
            width: calc(100% * 19 / 24);
        }
        &.m-20 {
            flex: 0 0 calc(100% * 20 / 24);
            width: calc(100% * 20 / 24);
        }
        &.m-21 {
            flex: 0 0 calc(100% * 21 / 24);
            width: calc(100% * 21 / 24);
        }
        &.m-22 {
            flex: 0 0 calc(100% * 22 / 24);
            width: calc(100% * 22 / 24);
        }
        &.m-23 {
            flex: 0 0 calc(100% * 23 / 24);
            width: calc(100% * 23 / 24);
        }
        &.m-24 {
            flex: 0 0 calc(100% * 24 / 24);
            width: calc(100% * 24 / 24);
        }
    }
}
@include mobile {
    .wrapper {
        padding-left: $padding-colum-4;
        padding-right: $padding-colum-4;
        &.no-gutter {
            padding: 0;
        }
        &.s-0 {
            display: none;
        }
        &.s-1 {
            flex: 0 0 calc(100% / 24);
            width: calc(100% / 24);
        }
        &.s-2 {
            flex: 0 0 calc(100% * 2 / 24);
            width: calc(100% * 2 / 24);
        }
        &.s-3 {
            flex: 0 0 calc(100% * 3 / 24);
            width: calc(100% * 3 / 24);
        }
        &.s-4 {
            flex: 0 0 calc(100% * 4 / 24);
            width: calc(100% * 4 / 24);
        }
        &.s-5 {
            flex: 0 0 calc(100% * 5 / 24);
            width: calc(100% * 5 / 24);
        }
        &.s-6 {
            flex: 0 0 calc(100% * 6 / 24);
            width: calc(100% * 6 / 24);
        }
        &.s-7 {
            flex: 0 0 calc(100% * 7 / 24);
            width: calc(100% * 7 / 24);
        }
        &.s-8 {
            flex: 0 0 calc(100% * 8 / 24);
            width: calc(100% * 8 / 24);
        }
        &.s-9 {
            flex: 0 0 calc(100% * 9 / 24);
            width: calc(100% * 9 / 24);
        }
        &.s-10 {
            flex: 0 0 calc(100% * 10 / 24);
            width: calc(100% * 10 / 24);
        }
        &.s-11 {
            flex: 0 0 calc(100% * 11 / 24);
            width: calc(100% * 11 / 24);
        }
        &.s-12 {
            flex: 0 0 calc(100% * 12 / 24);
            width: calc(100% * 12 / 24);
        }
        &.s-13 {
            flex: 0 0 calc(100% * 13 / 24);
            width: calc(100% * 13 / 24);
        }
        &.s-14 {
            flex: 0 0 calc(100% * 14 / 24);
            width: calc(100% * 14 / 24);
        }
        &.s-15 {
            flex: 0 0 calc(100% * 15 / 24);
            width: calc(100% * 15 / 24);
        }
        &.s-16 {
            flex: 0 0 calc(100% * 16 / 24);
            width: calc(100% * 16 / 24);
        }
        &.s-17 {
            flex: 0 0 calc(100% * 17 / 24);
            width: calc(100% * 17 / 24);
        }
        &.s-18 {
            flex: 0 0 calc(100% * 18 / 24);
            width: calc(100% * 18 / 24);
        }
        &.s-19 {
            flex: 0 0 calc(100% * 19 / 24);
            width: calc(100% * 19 / 24);
        }
        &.s-20 {
            flex: 0 0 calc(100% * 20 / 24);
            width: calc(100% * 20 / 24);
        }
        &.s-21 {
            flex: 0 0 calc(100% * 21 / 24);
            width: calc(100% * 21 / 24);
        }
        &.s-22 {
            flex: 0 0 calc(100% * 22 / 24);
            width: calc(100% * 22 / 24);
        }
        &.s-23 {
            flex: 0 0 calc(100% * 23 / 24);
            width: calc(100% * 23 / 24);
        }
        &.s-24 {
            flex: 0 0 calc(100% * 24 / 24);
            width: calc(100% * 24 / 24);
        }
    }
}
