@import 'src/scss/base';

.wrapper {
    position: relative;
    width: 344px;
    min-width: 312px;
    height: 100vh;
    flex-shrink: 0;
    background-color: $white-color;
    overflow: hidden;
    .resize {
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: $color-gray-500;
        top: 0;
        right: 0px;
        bottom: 0;
        cursor: col-resize;
    }
}
