@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

//variables

//font
$font-family: 'Nunito', sans-serif;
$text-color-normal: #676a79;
$text-color-bold: #14191e;
//colors
$color-blue: #0d6efd;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #d63384;
$color-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #198754;
$color-teal: #20c997;
$color-cyan: #0dcaf0;
$color-white: #fff;
$color-gray: #6c757d;
$color-gray-dark: #343a40;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;

$color-primary: #ff0000;
$color-secondary: #0091ff;
$color-success: #0cbc87;
$color-info: #4f9ef8;
$color-warning: #f7c32e;
$color-danger: #d6293e;
$color-light: #eef0f2;
$white-color: #fff;
$black-color: #000;
$background-body-color: #f9f9f9;
$back-ground-gradient-purple-blue: linear-gradient(199deg, #7562d8, #0068ff);
$back-ground-gradient-light-blue: linear-gradient(199deg, #72abff, #0068ff);
$back-ground-gradient-teal-blue: linear-gradient(199deg, #00bac0, #0068ff);

//width && hight
$max-width-1334: 1334px; //max-container
$max-width-1320: 1320px; //2,3,4,5,6,8,10,12,24
$max-width-1200: 1200px;
$max-width-1080: 1080px;
$max-width-960: 960px;
$max-width-840: 840px;
$max-width-720: 720px;
$max-width-600: 600px;

//grid
$margin-grid: 12px; //khoang canh nho nhat giua grid voi body
$padding-colum-12: 12px;
$padding-colum-8: 8px;
$padding-colum-4: 4px;

$padding-24: 24px;
$padding-12: 12px;
$padding-6: 6px;
$header-hight: 60px;
//gap
$gap-10: 10px;
$gap-24: 24px;

//Screen
$screen-599: 599px;
$screen-600: 600px;
$screen-739: 739px;
$screen-740: 740px;
$screen-1023: 1023px;
$screen-1024: 1024px;
$screen-1239: 1239px;
$tablet-width: 1023px; //tablet
$mobile-width: 740px; //mobile

//mix-xin
@mixin maxWidth($max-screen-width) {
    @media only screen and (max-width: $max-screen-width) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: $font-family;
    background-color: $white-color;
    color: $text-color-normal;
    overflow: overlay;
}
//custom scrollbar

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 18px;
    background-color: $color-gray-600;
}

button,
input,
[tabIndex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
.MuiTooltip-popper[data-popper-placement] .css-ja5taz-MuiTooltip-tooltip {
    font-size: 12px;
    color: $white-color;
}
.firebase-emulator-warning {
    display: none;
}
