@import 'src/scss/base';

//variable
$background-color: #e8eaef;
.wrapper {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 64px;

    .contact-search {
        position: relative;
        display: flex;
        align-items: center;
        color: $text-color-normal;
        flex: 1;
        margin-right: 4px;

        .search-icon {
            position: absolute;
            left: 0;
            width: 22px;
            height: 22px;
            border-radius: 999px;
            transform: translateX(30%);
        }

        .clear-icon {
            position: absolute;
            right: 0;
            width: 22px;
            height: 22px;
            border-radius: 999px;
            transform: translateX(-30%);
            cursor: pointer;
            &:hover {
                border: 1px solid $color-gray-500;
                background-color: $background-color;
            }
        }

        .search-input {
            flex: 1;
            padding: 0 30px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            font-weight: 400;
            color: $text-color-normal;
            border-radius: 999px;
            background-color: $background-color;
            &:focus,
            &.active {
                background-color: $white-color;
                border: 1px solid $color-secondary;
            }
            &:disabled {
                border-color: red;
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 4px;
        .action-icon {
            width: 32px;
            height: 32px;
            background-color: transparent;
            cursor: pointer;
            border-radius: 50%;
            &:hover {
                background-color: $background-color;
            }
        }

        .btn-close {
            margin-left: 4px;
            height: 30px;
            width: 68px;
            line-height: 30px;
            font-weight: 600;
            font-size: 14px;
            border-radius: 999px;
            text-align: center;
            color: $text-color-normal;
            background-color: transparent;
            cursor: pointer;
            &:hover {
                background-color: $background-color;
            }
        }
    }
}
