@import 'src/scss/base';

.wrapper {
    height: 100vh;
    min-height: 300px;
    max-width: 74px;
    min-width: 64px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    flex-basis: 0;
    flex-shrink: 0;
    gap: 20px 0;
    background-color: $color-secondary;
    color: $white-color;
    overflow-y: overlay;

    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .item-user {
        &:hover {
            background-color: unset;
        }
    }
}
